{% extends 'store/main.html' %}

{% block content %}
<h1>
    Контакты</h1>
<h2>Адрес:</h2>
<p>Хабаровс</p>
<h2>Телефон</h2>
<p>8 914 181 67 11</p>
<h2>Отдел франчайзинга:открытие новых точек, предложения по аренде</h2>
<p>anya@.ru</p>
<h2>Отдел поставок:по вопросам поставок в действующие кафе и магазины</h2>
<p>sanya@.ru </p>

<iframe
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A693db4d5138ea0c0371d0a1293e575be9411a31a039616949e0e392a7bad68d2&amp;source=constructor"
    width="1280" height="655" frameborder="0"></iframe>


{% endblock %}